@import './_variables.less';

.pm-tab-item .count {
    background-color: var(--pm-content-alternate-background-color);
    color: var(--pm-headings-color);
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 6px;
    min-width: 23px;
    box-shadow: none;
    margin-left: 5px;
	padding: 2px 6px;
	line-height: 16px;
	font-size: 11px;
}
i {
	font-size: 20px;
}

.pm-page-wrapper {

	form.pm-filter-selection {
		margin: 0;
	}
    .pm-header {
        .pm-header-left {
            #pm-create-project {
                background-color: #ECECEC;
                height: 38px;
                color: var(--pm-headings-color);
                i { 
                    &::before{
                        font-size: 15px;
                    }
                }
                padding-right: 25px;
            }
        }
        .pm-project-search {
            input  {
                &.pm-search {
                    display: inline-block;
                    height: 38px !important;
                    padding: 3px 8px;
                    margin-bottom: 0 0 10px;
                    font-size: 12px;
                    line-height: 100%;
                    color: #555555;
                    vertical-align: middle;
                    border: 1px solid #DDDDDD;
                    -webkit-box-shadow: none;
                    -moz-box-shadow: none;
                    box-shadow: none;
                    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
                    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
                    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
                    transition: border linear 0.2s, box-shadow linear 0.2s;

                    background-repeat: no-repeat;
                    background-size: 16px;
                    // background-image: url('../images/search.svg');
                    background-position: left 10px center;
	                background-image : url('./../images/search.svg') ;
                    padding-left: 35px;
                }
            }
            button {
                &.pm-submit-btn {
                    display: none;
                }
            }
        }
        .pm-header-right {
            margin-top: 5px;
        }
    }
    
    .pm-panel-header {
        .pm-filter-selection {
            select {
                height: 38px !important;
            }
        }
        
    }
    .pm-overview-container {
		background: none;
		border: none;
		border-radius: 0;
	}
    .pm-overview-panel {
		.pm-panel-header {
			background: none;
			border-bottom: none;
			padding: 0;
			// border-radius: @theme-border-radius;

            .pm-tab-item {
                padding: 0 10px;
				&:first-child {
					padding-left: 0;
				}
                a {
                    padding-left: 0;
                    padding-right: 0;
					padding-bottom: 10px;
					color: var(--pm-body-text-color);
					&:hover,
					&:focus,
					&:active,
					&.active {
						color: var(--pm-primary-color);
					}
					
					&.router-link-active {
						// color: #D8D8D8;
						color: var(--pm-headings-color);
						&::after{
							background-color: var(--pm-primary-color);
							background: var(--pm-primary-color);
						}
                    }
                }
            }
        }
        .pm-panel-body {
			padding: 20px 0 0 0;
			.pm-project-item {
				border: none;
			}
			.pm-project-item .pm-project-item-body .pm-project-info .pm-project-meta-counters li a {
				border: none;
			}
		}
    }
    // project styles
	.pm-project-item {
		background: #fff;
		padding: 15px;
		border: 1px solid @theme-border-color;
		border-radius: @theme-border-radius;
		height: 100%;

		// project item header styles
		.pm-project-item-header {
			.clearfix();
			.pm-project-title {
				.rem(16);
				font-weight: bold;
				margin-top: 0;
				max-width: calc(100% - 60px);
				display: -webkit-box;
			    height: 47px;
			    line-height: 22px;
			    -webkit-line-clamp: 2;
			    -webkit-box-orient: vertical;
			    overflow: hidden;
			    text-overflow: ellipsis;
				a {
					color: #000;
					&:hover {
						color: @theme-color;
					}
				}
			}
			.pm-project-settings {
			    > li {
					> a {
						display: inline-block;
						padding: 5px 7px;
						margin: -5px 0;
						color: #D7DEE2;
						&:hover,
						&:focus,
						&:active {
							color: darken(#D7DEE2, 10%);;
						}
						&.pm-favourite-active {
							color: @color-orange;
						}
					}
					.pm-dropdown-menu {
						transform: translate(0, 15px);
						margin-top: 8px !important;
						&.pm-dropdown-open {
							transform: translate(0, 0);
						}
					}
				}
			}
		}

		// project item body styles
		.pm-project-item-body {
			.pm-project-info {
				.pm-project-meta-counters {
					li {
						&.pm-meta-overview,&.pm-meta-discussion,&.pm-meta-list,&.pm-meta-files,&.pm-meta-flag,&.pm-meta-comment,&.pm-meta-comment {
							a {
								color: var(--pm-secondary-color);
								&:hover,
								&:focus,
								&:active {
									background:  var(--pm-secondary-color-bg);
									color: var(--pm-content-background-color)
								}
                                i {
                                    font-size: 20px;
                                }
							}
						}
					}
				}
			}

			// project progress bar
			.pm-project-progress-wrapper {
                .clearfix();
				display: block;
				// width: 100%;
				margin: 10px 0;
				position: relative;
                width: auto !important;
                display: inherit !important;
                min-width: 120px;
                margin: 0 40px !important;
                margin-right: 20px;
                order: 2;
                .pm-project-progress {
                    margin: 0  !important;
                    height: 10px;
                    border-radius: 0;
                    .pm-project-status {
                        height: 10px;
                        border-radius: 0;
                        background-color: var(--pm-primary-color);
                    }
                }
                .progress-bar {
                    width: 80%;
                    float: left;
                    margin-top: 10px;
                }

                .progress-stats {
                    width: 19%;
                    float: left;
                    padding-left: 10px;
                    text-align: left;
                    // min-width: 80px;
                    margin-top: 3px;
                }
			}
		}
	}
    // view styles filters css
	.pm-view-style-container {
		display: flex;
	    flex-direction: row-reverse;
	    align-items: center;
	    padding: 13px 0;
		.pm-view-style-group {
			margin-left: 15px !important;
			border: var(--pm-content-background-color) solid 2px;
			border-radius: @theme-border-radius;
			background: var(--pm-content-background-color);
                // height: 38px;
			li {
				float: left;
				a {
					display: inline-block;
					color: var(--pm-secondary-color);
					padding: 7px 12px;
					line-height: 100%;
					i {
						display: inline-block;
						margin-right: 5px;
					}
					&:hover {
                        // color: darken(var(--pm-secondary-color), 5%);
						// background: darken(var(--pm-secondary-color), 5%);

					}
					&.active {
						cursor: not-allowed;
                        background: var(--pm-content-background-color);
                        i {
                            color: var(--pm-headings-color);
                        }
					}
                    span {
                        display: none;
                    }
				}
			}
			&:not(:last-child){
				a {
					border-right: 0;
				}
			}
		}
	}
}

// Grid view
.pm-page-wrapper .pm-project-grid .pm-project-item .pm-project-item-body .pm-project-progress-wrapper {
    margin: 0 0px !important;
}

.pm-task-list-wrap {
	.list-content-body .content .list-action-btn-wrap .new-list-btn a{
		background-color: var(--bb-primary-button-background-regular);
		color: var(--bb-primary-button-text-regular);
		border: 1px solid var(--bb-primary-button-border-regular);
		justify-content: center;
		font-size: 15px;
		border-radius: var(--bb-button-radius);
		min-height: 38px;
		line-height: 38px;
	}
	.list-content-body .content .list-action-btn-wrap .new-list-btn a span.plus {
		display: none;
	}
	.list-content-body .content .list-items .list-content .progress-bar {
		border-radius: 0px;
		height: 10px;
	}
	.list-content-body .content .list-items .list-content .progress-bar .completed {
		border-radius: 0px;
		height: 10px;
		background-color: var(--bb-primary-button-background-regular);
	}
	.list-content-body .content .list-items .list-content .list-title-anchor {
		color: var(--bb-headings-color);
	}
	.list-content-body .content .list-items .list-content .list-item-content .before-title .icon-pm-up-arrow:before, .pm-task-list-wrap .list-content-body .content .list-items .list-content .list-item-content .before-title .icon-pm-down-arrow:before {
		color: var(--bb-alternate-text-color);
	}
}

.pm-task-form {
	.input-area .input-action-wrap .task-create-form {
		margin-bottom: 0;
	}
	.input-area .input-action-wrap .task-create-form .fields .input-field {
		border-radius: var(--bb-input-radius);
		height: 40px;
		padding: 0 15px;
	}
	.input-area .input-action-wrap .task-create-form.focus .fields{
		border-radius: var(--bb-input-radius);
	}
	.input-area .input-action-wrap .task-create-form .fields .process-fields{
		border-bottom-left-radius: var(--bb-input-radius);
		border-bottom-right-radius: var(--bb-input-radius);
	}
}
.recurrent-task{
	margin-left: 10px;
}

.task-group {
	.more-task-wrap .group-action-btn.show-completed-task .anchor-btn {
		background: var(--bb-secondary-button-background-regular);
		color: var(--bb-secondary-button-text-regular);
		border: 1px solid var(--bb-secondary-button-border-regular);
		padding: 8px 16px;
		font-size: 12px;
		border-radius: var(--bb-button-radius);
		transition: .3s;
	}
	.more-task-wrap .group-action-btn.show-completed-task .anchor-btn:hover {
		background-color: var(--bb-secondary-button-background-hover);
		color: var(--bb-secondary-button-text-hover);
		border: 1px solid var(--bb-secondary-button-border-hover);
	}
}

.pm-popper-ref.popper-ref.task-user-multiselect.bb-icon-user-avatar.bb-icon-l.pm-dark-hover {
    font-size: 22px;
}

// Files view page
.pm-files.pm-files-container-pro {
	border: none;
	.pm-pro-file-container {
		.pm-previous-back {
			ul {
				background: none;
				li a {
					color: var(--pm-secondary-button-text-regular) !important;
				}
			}
			.breadcrumb>li+li:before {
				color: var(--pm-secondary-button-text-regular) !important;
			}
		}
		div ul.pm-folders-list li div.ff-content {
			background: var(--pm-body-background-color);
			border: none;
			box-shadow: none;
			.image-content {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				i {
					font-size: xxx-large;
				}
				.bb-icon-file-pdf, .bb-icon-file-doc, .bb-icon-file-spreadsheet {
					font-size: xxx-large;
					color: var(--pm-secondary-color-bg) !important;
				}
			}
			.cpm-doc-view .doc-content {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				background: none;
				.bb-icon-file-doc, .bb-icon-link {
					font-size: xxx-large;
					color: var(--pm-secondary-color-bg) !important;
				}
			}
			.file-info-actions-wrap {
				background: var(--pm-content-background-color);
				padding: 10px;
				.attached-comment-text {
					font-size: smaller;
					a {
						color: var(--pm-primary-color);
					}
				}
				.view, .item-title {
					font-size: smaller;
					font-weight: normal;
				}
				.footer-section {
					background: var(--pm-content-background-color);
					border: none;
					margin-top: 0px;
					padding-left: 0px;
					padding-top: 0px;
					text-align: start;
					a, span {
						padding-left: 0px;
						color: var(--pm-secondary-button-text-regular) !important;
					}
					.comments-count {
						font-size: smaller;
					}
				}
			}
			.footer-section {
				background: var(--pm-content-background-color);
				border: none;
				margin-top: 0px;
				padding-left: 0px;
				padding-top: 0px;
				text-align: start;
				a, span {
					padding-left: 0px;
					color: var(--pm-secondary-button-text-regular) !important;
				}
				.comments-count {
					font-size: smaller;
				}
			}
		}
		.file-from-wrapper {
			.metabox-holder .postbox {
				border: none;
				border-radius: 10px;
				padding: 30px;
				.hndle {
					border-bottom: none;
				}
				.inside {
					.pm-attachment-area {
						border-radius: 10px;
					}
					form#pm-doc-form {
						box-shadow: none;
					}
					form#pm-link-form {
						box-shadow: none;
					}
				}
			}
			.modal-container .modal-body {
				display: flex;
			}
		}
		.folders-list-container {
			margin-top: 20px;
			padding: 20px 20px 240px 20px;
			background: var(--pm-content-background-color);
			border-radius: 5px;
			.pm-folders-list {
				display: flex;
				justify-content: space-evenly;
				.pm-file-li {
					padding-left: 0px;
					padding-right: 10px;
					height: auto;
				}
			}
		}
		.pm-doc-modal {
			.modal-wrapper .modal-container {
				padding: 0px;
				.close-single-file-modal a {
					cursor: pointer;
					padding-left: 5px;
					color: var(--pm-secondary-button-text-regular) !important;
				}
				.modal-body.pm-doc-read-mod {
					.pm-doc-content {
						.close-single-file-modal a {
							cursor: pointer;
							padding-left: 5px;
							color: var(--pm-secondary-button-text-regular) !important;
						}
						.pm-created-doc .pm-modal-conetnt {
							padding: 0px;
							.doc_contents {
								border: none;
								background: var(--pm-content-background-color);
								.item-title {
									color: var(--pm-secondary-button-text-regular) !important;
									padding: 25px;
								}
							}
							.doc_attach_comments {
								background: var(--pm-body-background-color);
							}
						}
					}
				}
			}
			.comment-content .pm-comment-wrap {
				border: none !important;
				.pm-comment {
					border: none;
					.pm-comment-container .pm-comment-content .pm-attachments li {
						border: none;
						.pm-file a img {
							border: none;
							border-radius: 0px;
						} 
					}
				}
			}
		}
	}
}

.modal-container .modal-body .folder-image i {
	font-size: xxx-large;
	color: var(--pm-secondary-button-text-regular) !important;
}

.pm-modal-conetnt .doc_contents div h3 span a {
	display: flex !important;
	align-items: center !important;
}

/*Kanban View Page*/
.kbc-kanboard {
	.list-search-menu .search-content .action a {
		margin-right: 2px;
	}
	.kbc-table-wrap .kbc-th-wrap {
		.kbc-sortable-section.kbc-section-order-by.ui-sortable-handle {
			background: none;
		}
		.kbc-th {
			border: none;
			box-shadow: none;
			.kbc-section-background {
				background-color: var(--pm-body-background-color);
				.kbc-section-header-wrap {
					border: none;
					.kbc-section-header {
						padding-left: 5px;
						.kbc-section-title span {
							color: var(--pm-secondary-button-text-regular);
							font-weight: bold;
						}
					}
				}
				.kbc-tasks-wrap {
					height: inherit;
					.kbc-kanboard-sortable-wrap {
						.kbc-td-contents {
							margin: 0px;
							border-radius: 5px;
							.kbc-content-inside {
								border: none;
								border-radius: 5px;
								padding: 10px;
								margin-bottom: 8px;
								.kbc-title-wrap {
									font-size: larger;
									display: flex;
									a {
										padding-left: 5px;
									}
								}
								.kbc-after-inside-content {
									border: none;
									background: none;
									width: auto;
									margin-left: auto;
									text-align: end;
									.kbc-comment-count span {
										color: var(--pm-alternate-text-color);
									}
									.kbc-comment-count i {
										font-size: medium;
										color: var(--pm-alternate-text-color);
									}
								}
								.kbc-after-task-title-wrap {
									display: flex;
									.cpm-assigned-user img {
										border-radius: 50%;
									}
									.kbc-task-user-wrap {
										width: auto;
									}
								}
								.kbc-after-task-title-wrap .kbc-task-date-wrap span {
									color: var(--pm-alternate-text-color);
									font-weight: 300;
									font-size: small;
								}
							}
						}
					}
				}
				.kbc-tasks-add-task {
					display: flex;
					justify-content: center;
					padding: 5px;
					span a {
						color: var(--pm-secondary-button-text-regular);
						font-weight: bold;
					}
				}
				.kbc-section-footer form .button-group-wrap {
					justify-content: center;
					align-items: center !important;
					padding-bottom: 20px;
					.cancel-task-btn-wrap {
						margin-right: 5px;
					}
				}
			}
		}
	}
}

.kbc-th .kbc-section-header .kbc-sections-add-section {
	display: flex;
	justify-content: center;
	padding: 5px;
	span a {
			color: var(--pm-secondary-button-text-regular);
			font-weight: bold;
	}
}

.kbc-th.kbc-th-new-section.kbc-non-sortable.ui-sortable-handle {
	background: none;
}

.kbc-action-wrap .pm-dorpdown-menu-ul {
	.bb-icon-l {
		width: 24px;
		color: var(--pm-secondary-button-text-regular);
	}
	.pm-dorpdown-menu-li {
		padding: 2px 5px 2px 5px !important;
		.kbc-actions-delete a i {
			color: var(--pm-danger-color);
		}
	}
	.pm-dorpdown-menu-li:hover {
		background-color: var(--pm-sidenav-menu-background-color-hover);
	}
	.pm-dorpdown-menu-li .kbc-actions-delete a span {
		color: var(--bb-danger-color) !important;
	}

}

.tooltip-inner.popover-inner {
	background-color: var(--pm-content-background-color) !important;
	border: none;
	box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.05);
	margin-top: -10px !important;
	padding: 0px !important;
}

.tooltip-arrow.popover-arrow {
	display: none;
}