@import './_variables.less';

.pm-tab-item .count {
    background-color: var(--pm-content-alternate-background-color);
    color: var(--pm-headings-color);
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 6px;
    min-width: 23px;
    box-shadow: none;
    margin-left: 5px;
	padding: 2px 6px;
	line-height: 16px;
	font-size: 11px;
}
i {
	font-size: 20px;
}

.pm-page-wrapper {

	form.pm-filter-selection {
		margin: 0;
	}
    .pm-overview-container {
		background: none;
		border: none;
		border-radius: 0;
	}
    .pm-overview-panel {
		.pm-panel-header {
			background: none;
			border-bottom: none;
			padding: 0;
			// border-radius: @theme-border-radius;

            .pm-tab-item {
                padding: 0 10px;
				&:first-child {
					padding-left: 0;
				}
                a {
                    padding-left: 0;
                    padding-right: 0;
					padding-bottom: 10px;
					color: var(--pm-body-text-color);
					&:hover,
					&:focus,
					&:active,
					&.active {
						color: var(--pm-primary-color);
					}
					
					&.router-link-active {
						// color: #D8D8D8;
						color: var(--pm-headings-color);
						&::after{
							background-color: var(--pm-primary-color);
							background: var(--pm-primary-color);
						}
                    }
                }
            }
        }
        .pm-panel-body {
			padding: 20px 0 0 0;
			.pm-project-item {
				border: none;
			}
			.pm-project-item .pm-project-item-body .pm-project-info .pm-project-meta-counters li a {
				border: none;
			}
		}
    }
}


/*Project details page*/
.pm-task-list-wrap{
	.list-content-body .content .lists-content ul.pm-todolists, .list-content-body .content .task-field, .list-content-body .content .list-action-btn-wrap{
		background: var(--bb-content-background-color);
		border-radius: var(--bb-block-radius);
		box-shadow: 0 6px 24px 0 rgba(18,43,70,0);
		padding: 20px 0px 20px!important;
		margin-bottom: 20px!important;
	}
	.list-content-body .content {
		border: none;
	}
	.pm-project-menu .menu-item a {
		border: none;
		color: var(--bb-body-text-color);
		display: block;
		padding: 0 0 8px;
		text-decoration: none;
		font-size: 14px;
		line-height: 1;
	}
	.pm-project-menu {
		border: none;
		padding: 0;
		background: no-repeat;
	}
	.pm-project-menu .menu-item a span.logo {
		display: none;
	}
	.pm-project-menu .menu-item {
		padding-right: 30px;
	}
	.pm-project-menu .menu-item a.router-link-exact-active.router-link-active.active {
		border-bottom: 2px solid var(--bb-primary-color);
		font-weight: 500;
		color: var(--bb-headings-color);
	}
	.pm-project-menu .menu-item a.message {
		background: no-repeat;
	}
	.pm-project-menu {
		margin-bottom: 35px!important;
	}
	.list-content-body .content .list-action-btn-wrap {
		margin-bottom: 0px!important;
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
		padding-left: 20px!important;
    	padding-right: 20px!important;
	}
	
	.list-content-body .content .task-field {
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
		
	}
	.list-content-body .content .list-items .list-content {
		border: none!important;
		padding-top: 0;
	}
	.list-content-body .content .lists-content ul.pm-todolists .task-group {
		margin-bottom: 0px!important;
	}
	.list-content-body .content .task-field {
		padding: 20px!important;
	}
}

.pm-project-menu .menu-item:first-child {
    padding-left: 0;
}

.pm-task-list-wrap {
	.list-content-body .content .list-action-btn-wrap .new-list-btn a{
		background-color: var(--bb-primary-button-background-regular);
		color: var(--bb-primary-button-text-regular);
		border: 1px solid var(--bb-primary-button-border-regular);
		justify-content: center;
		font-size: 15px;
		border-radius: var(--bb-button-radius);
		min-height: 38px;
		line-height: 38px;
	}
	.list-content-body .content .list-action-btn-wrap .new-list-btn a span.plus {
		display: none;
	}
	.list-content-body .content .list-items .list-content .progress-bar {
		border-radius: 0px;
		height: 10px;
	}
	.list-content-body .content .list-items .list-content .progress-bar .completed {
		border-radius: 0px;
		height: 10px;
		background-color: var(--bb-primary-button-background-regular);
	}
	.list-content-body .content .list-items .list-content .list-title-anchor {
		color: var(--bb-headings-color);
	}
	.list-content-body .content .list-items .list-content .list-item-content .before-title .icon-pm-up-arrow:before, .pm-task-list-wrap .list-content-body .content .list-items .list-content .list-item-content .before-title .icon-pm-down-arrow:before {
		color: var(--bb-alternate-text-color);
	}
}


.pm-task-form {
	.input-area .input-action-wrap .task-create-form {
		margin-bottom: 0;
	}
	.input-area .input-action-wrap .task-create-form .fields .input-field {
		border-radius: var(--bb-input-radius);
		height: 40px;
		padding: 0 15px;
	}
	.input-area .input-action-wrap .task-create-form.focus .fields{
		border-radius: var(--bb-input-radius);
	}
	.input-area .input-action-wrap .task-create-form .fields .process-fields{
		border-bottom-left-radius: var(--bb-input-radius);
		border-bottom-right-radius: var(--bb-input-radius);
	}
}
.recurrent-task{
	margin-left: 10px;
}

.task-group {
	.more-task-wrap .group-action-btn.show-completed-task .anchor-btn {
		background: var(--bb-secondary-button-background-regular);
		color: var(--bb-secondary-button-text-regular);
		border: 1px solid var(--bb-secondary-button-border-regular);
		padding: 8px 16px;
		font-size: 12px;
		border-radius: var(--bb-button-radius);
		transition: .3s;
	}
	.more-task-wrap .group-action-btn.show-completed-task .anchor-btn:hover {
		background-color: var(--bb-secondary-button-background-hover);
		color: var(--bb-secondary-button-text-hover);
		border: 1px solid var(--bb-secondary-button-border-hover);
	}
}

.pm-popper-ref.popper-ref.task-user-multiselect.bb-icon-user-avatar.bb-icon-l.pm-dark-hover {
    font-size: 22px;
}


/*Kanban View Page*/
.kbc-kanboard .kbc-table-wrap .kbc-th-wrap .kbc-th {
	border: none;
	box-shadow: none;
	.kbc-section-background {
		background-color: var(--bb-body-background-color);
		.kbc-section-header-wrap {
			border: none;
			.kbc-section-header {
				padding-left: 5px;
				.kbc-section-title span {
					color: var(--bb-secondary-button-text-regular);
					font-weight: bold;
				}
			}
		}
		.kbc-tasks-wrap {
			.kbc-kanboard-sortable-wrap {
				.kbc-td-contents {
					margin: 0px;
					border-radius: 5px;
					.kbc-content-inside {
						border: none;
						border-radius: 5px;
						padding-bottom: 10px;
						margin-bottom: 8px;
						.kbc-title-wrap {
							font-size: larger;
						}
						.kbc-after-inside-content {
							border: none;
							background: none;
							width: auto;
							margin-left: auto;
							text-align: end;
							.kbc-comment-count span {
								color: var(--bb-alternate-text-color);
							}
							.kbc-comment-count i {
								font-size: medium;
								color: var(--bb-alternate-text-color);
							}
						}
						.kbc-after-task-title-wrap {
							display: flex;
							.cpm-assigned-user img {
								border-radius: 50%;
							}
							.kbc-task-user-wrap {
								width: auto;
							}
						}
						.kbc-after-task-title-wrap .kbc-task-date-wrap span {
							color: var(--bb-alternate-text-color);
							font-weight: 300;
							font-size: small;
						}
					}
				}
			}
		}
	}
}