
.pm-project-menu .menu-item a, #wedevs-project-manager .pm-my-tasks .pm-project-header.pm-project-head .pm-my-task-menu a {
	border: none!important;
	color: var(--pm-body-text-color);
	display: block;
	padding: 0 0 8px;
	text-decoration: none!important;
	font-size: 14px;
	line-height: 1;
}
.task-group .pm-todo-wrap .todo-content .pm-current-date, .my-tasks-assignee{
    color: var(--pm-headings-color)!important;
}
.pm-project-menu {
	border: none;
	padding: 0;
	background: no-repeat;
}
.pm-project-menu .menu-item a span.logo {
	display: none;
}
.pm-project-menu .menu-item, #wedevs-project-manager .pm-my-tasks .pm-project-header.pm-project-head .pm-my-task-menu li {
	padding-right: 30px;
}
.pm-project-menu .menu-item .router-link-active.active, #wedevs-project-manager .pm-my-tasks .pm-project-header.pm-project-head .pm-my-task-menu li a.router-link-active.active{
	border-bottom: 2px solid var(--pm-primary-color)!important;
	font-weight: 500;
	color: var(--pm-headings-color);
	border-left: 0px;
	border-right: 0px;
	border-top: 0px;
}
.pm-project-menu .menu-item a.message {
	background: no-repeat;
}
.pm-project-menu {
	margin-bottom: 35px!important;
}

.pm-task-list-wrap{
	.list-content-body .content .lists-content ul.pm-todolists li.pm-list-sortable, .list-content-body .content .task-field{
		background: var(--pm-content-background-color);
		padding: 20px 0px 20px!important;
		margin-bottom: 30px!important;
		border-radius: 10px;
	}
	.list-content-body .content {
		border: none;
	}
	
	.list-content-body .content .list-action-btn-wrap {
		margin-bottom: 0px!important;
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
		padding-left: 0px!important;
    	padding-right: 0px!important;
		padding-top: 0px!important;
	}
	
	.list-content-body .content .task-field {
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
		
	}
	.list-content-body .content .list-items .list-content {
		border: none!important;
		padding-top: 0;
	}
	.list-content-body .content .lists-content ul.pm-todolists .task-group {
		margin-bottom: 0px!important;
        .title-wrap {
            width: 375px !important;
        }
	}
	.list-content-body .content .task-field {
		padding: 20px!important;
	}
	.list-content-body .content .list-action-btn-wrap .pm-action-wrap .archive-page-button a{
		display: none;
	}
	.list-content-body .content .list-items .list-li{
		margin-bottom: 0;
	}
}

.pm-project-menu .menu-item:first-child {
    padding-left: 0;
}

.list-content-body .content .list-action-btn-wrap .new-list-btn a{
    background-color: var(--pm-primary-button-background-regular);
    color: var(--pm-primary-button-text-regular);
    border: 1px solid var(--pm-primary-button-border-regular);
    justify-content: center;
    font-size: 15px;
    border-radius: var(--pm-button-radius);
    min-height: 38px;
    line-height: 38px;
}
.pm-task-list-wrap {
	.list-content-body .content .list-action-btn-wrap .new-list-btn a span.plus {
		display: none;
	}
	.list-content-body .content .list-items .list-content .list-title-anchor {
		color: var(--pm-headings-color);
	}
	.list-content-body .content .list-items .list-content .list-item-content .before-title .icon-pm-up-arrow:before, .pm-task-list-wrap .list-content-body .content .list-items .list-content .list-item-content .before-title .icon-pm-down-arrow:before {
		color: var(--pm-alternate-text-color);
	}
}


.pm-task-form {
	.input-area .input-action-wrap .task-create-form {
		margin-bottom: 0;
	}
	.input-area .input-action-wrap .task-create-form .fields .input-field {
		border-radius: var(--pm-input-radius);
		height: 40px;
		padding: 0 15px;
	}
	.input-area .input-action-wrap .task-create-form.focus .fields{
		border-radius: var(--pm-input-radius);
	}
	.input-area .input-action-wrap .task-create-form .fields .process-fields{
		border-radius: var(--pm-input-radius);
        width: 210px;
        justify-content: flex-end;
	}
}

.task-time-recurrent {
    display: flex;
    align-items: center;
    min-width: 135px;
}

.task-comment-total {
    font-size: 12px;
}

.task-comment-total i {
    font-size: 17px;
}
.task-comment-total span {
    display: inline-block;
    min-width: 18px;
}


.task-group .more-task-wrap .group-action-btn .anchor-btn, .pm-task-list-wrap .list-content-body .content .list-action-btn-wrap .new-list-btn a, .single-list-back-wrapper a.list-back-btn, .pm-task-comment-wrap .pm-comment-form .comment-action-chunk .pm-button-cancel, .comment-action-chunk a.pm-button.pm-secondary, .pm-btn.pm-plus-white, .button-secondary, .buddypress .buddypress-wrap button.fc-button, .pm-page-wrapper .pm-header .pm-header-left #pm-create-project, .pm-task-list-wrap .list-content-body .content .list-action-btn-wrap .task-filter, .pm-task-list-wrap .list-content-body .content .list-action-btn-wrap .active-task-filter, .fc-button-group .fc-button.fc-state-default, .fc-button.fc-state-default, a.button.pm-load-more, button.cancelBtn.btn.btn-sm.btn-default{
	background: var(--pm-secondary-button-background-regular)!important;
	color: var(--pm-secondary-button-text-regular)!important;
	border: 1px solid var(--pm-secondary-button-border-regular)!important;
	padding: 8px 16px!important;
	font-size: 12px!important;
	border-radius: var(--pm-button-radius)!important;
	transition: .3s!important;
}
.fc-button-group .fc-button.fc-state-default, .fc-button.fc-state-default {
    box-shadow: none;
    height: auto;
}
.task-group .more-task-wrap .group-action-btn .anchor-btn:hover, .pm-task-list-wrap .list-content-body .content .list-action-btn-wrap .new-list-btn a:hover, .single-list-back-wrapper a.list-back-btn:hover, .pm-task-comment-wrap .pm-comment-form .comment-action-chunk .pm-button-cancel:hover, .comment-action-chunk a.pm-button.pm-secondary:hover, .pm-btn.pm-plus-white:hover, .button-secondary:hover, .pm-page-wrapper .pm-header .pm-header-left #pm-create-project:hover, .buddypress .buddypress-wrap button.fc-button:hover, .pm-task-list-wrap .list-content-body .content .list-action-btn-wrap .task-filter:hover, a.button.pm-load-more:hover, button.cancelBtn.btn.btn-sm.btn-default:hover {
	background-color: var(--pm-secondary-button-background-hover)!important;
	color: var(--pm-secondary-button-text-hover)!important;
	border: 1px solid var(--pm-secondary-button-border-hover)!important;
}
.item.submit {
    gap: 5px;
}
.pm-btn i{
    font-size: 13px;
}
.pm-task-list-wrap .list-content-body{
	background: transparent;
}

.pm-popper-ref.popper-ref.task-user-multiselect.bb-icon-user-avatar.bb-icon-l.pm-dark-hover {
    font-size: 22px;
}

.task-group .pm-todo-wrap .todo-content .title-wrap {
    width: 250px;
}

.task-group .incomplete-task-li, .task-group .complete-task-li {
    border-color: #f0f0f0;
}

.task-group .incomplete-task-li:not(:last-child), .task-group .complete-task-li:not(:last-child) {
    border-bottom: 0px;
}
.pm-task-list-wrap .list-content-body .content .list-items .list-content .list-item-content .after-title .view-single-list {
    font-size: 22px;
}
.task-group .pm-todo-wrap .todo-content .task-action-wrap .task-activity {
    width: 130px;
}
.task-group .pm-todo-wrap .todo-content .task-action-wrap .task-activity.task-time {
    width: 60px;
}
.task-comment-total {
    width: 50px;
    margin-left: 20px;
    margin-right: 50px;
}
.task-group .incomplete-task-ul.has-items, .task-group .complete-task-ul {
    padding-left: 52px!important;
    padding-right: 52px!important;
}

.pm-task-list-wrap .list-content-body .content .list-items .task-group .pm-todo-wrap{
    margin-left: -14px!important;
    margin-right: 0px!important;
}
.pm-task-list-wrap .list-content-body .content .list-items .task-group .complete-task-ul .pm-todo-wrap {
    margin-left: 0px!important;
    margin-right: 0px!important;
}
// .group-action-btn.show-completed-task {
//     margin-top: 10px;
// }
.list-task-form .pm-task-form .input-area .input-action-wrap .task-create-form .fields .input-field {
    border: none;
}
.progress-bar {
	border-radius: 0px!important;
	height: 10px!important;
}
.progress-bar .completed {
	border-radius: 0px!important;
	height: 10px!important;
	background-color: var(--pm-primary-button-background-regular)!important;
}
.pm-task-list-wrap .list-content-body .content .task-field.new-task-form-field {
    display: none;
    padding: 0!important;
    border-radius: 0px!important;
	background: none!important;
}
.fields.add-new-task-form-field, .add-new-subtask-form-field {
    display: flex;
    justify-content: space-between;
}

.fields.add-new-task-form-field .task-date.process-field.task-date-field-wrap {
    margin-right: 0!important;
}

.pm-task-form .input-area .input-action-wrap .task-create-form .fields .process-fields .task-date i {
    margin-right: 0;
}

.pm-task-list-wrap .list-content-body .content .task-field.new-task-form-field form.task-create-form {
    max-width: 70%;
    gap: 20px;
    align-items: center;
}

.fields.add-new-task-form-field .action-icons.process-fields {
    background: #fff!important;
}
.pm-task-form .input-area .input-action-wrap .task-create-form .fields.add-new-task-form-field .input-field {
    border: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.new-task-form-field input.pm-single-button.pm-button-primary, .subtask-create-form input.pm-single-button.pm-button-primary, .pm-form.pm-project-form input#add_project{
    height: 40px!important;
}
#wedevs-project-manager #pm-single-task-wrap .description-wrap .task-description-action .pm-primary {
    // background: var(--pm-primary-button-background-regular);
    // padding: 5px 20px;
    font-size: 15px;
    // height: 38px;
    // border-radius: var(--pm-button-radius);
}
// #wedevs-project-manager #pm-single-task-wrap .description-wrap .task-description-action a.pm-button.pm-secondary {
//     padding: 5px 20px;
// }

.pm-header-title-content span.icon-pm-down-arrow{
	cursor: pointer;
    width: 20px;
    display: inline-block;
    text-align: center;
    transition: .3s;
    // height: 20px;
}
.pm-header-title-content span.icon-pm-down-arrow.active {
    transform: rotate(180deg);
}
.pm-header-title-content span.icon-pm-down-arrow::before {
    color: #848484;
    font-size: 8px;
}
.title-action-dropdown {
    position: absolute;
    display: flex;
    top: 100%;
}

.pm-header-title-content .header-row-1 {
    position: relative;
}
.pm-task-form .input-area .input-action-wrap .task-create-form .fields .process-fields .task-users .user-images {
    position: absolute;
    left: 0;
    top: calc(100% + 5px);
}
.task-group .pm-todo-wrap .todo-content .task-action-wrap .task-activity.assigned-users-content {
    flex-wrap: wrap;
    gap: 2px;
}

/*Task details modal*/
#wedevs-project-manager #pm-single-task-wrap .pm-single-task-header .incomplete {
    border-color: var(--pm-secondary-button-text-regular);
    color: var(--pm-secondary-button-text-regular);
}

#wedevs-project-manager #pm-single-task-wrap .pm-single-task-header .incomplete span {
    margin-right: 7px;
}
#wedevs-project-manager #pm-single-task-wrap .pm-single-task-header {
    justify-content: space-between;
}

#wedevs-project-manager #pm-single-task-wrap .pm-single-task-header .task-action .icon-pm-more-options, .comment-action-arrow span.icon-pm-more-options, .milestone-detail-top span.pm-popper-ref.popper-ref.icon-pm-more-options, .discuss-more-menu span.pm-popper-ref.popper-ref.icon-pm-more-options {
    transform: rotate(90deg);
    position: relative;
    display: flex;
    width: 20px;
    height: 25px;
    align-items: center;
    margin-left: 0px;
    cursor: pointer;
}

.task-list-titlle-privacy {
    display: flex;
    justify-content: space-between;
}

.task-list-titlle-privacy .options-wrap.actions-wrap {
    justify-content: flex-end;
    text-align: right;
    width: 50%;
}

.task-list-titlle-privacy .options-wrap.actions-wrap .task-privacy-wrap.context {
    padding-right: 0;
    margin: 0;
}

.task-list-titlle-privacy .options-wrap.actions-wrap .task-privacy-wrap.context h3.label {
    margin-bottom: 0;
}

.task-list-titlle-privacy  .task-list-title-wrap {
    width: 50%;
}

.task-list-titlle-privacy .options-wrap.actions-wrap .task-privacy-wrap.context .process-results.task-privacy {
    display: none;
}

.task-list-titlle-privacy .options-wrap.actions-wrap .task-privacy-wrap.context .data-active {
    justify-content: flex-end;
}
.actions-wrap .task-privacy-wrap .privacy-anchor .pm-toggle-switch {
    height: 20px;
    width: 45px;
    background: transparent;
    border: 2px solid #ccc;
}

.actions-wrap .task-privacy-wrap .privacy-anchor .pm-toggle-switch::after {
    background: #ccc;
    width: 12px;
    height: 12px;
}
.task-list-title-wrap .list-title a{
	color: var(--pm-primary-button-background-regular);
}
.task-list-title-wrap .task-list-title-text, .actions-wrap .label{
	color: var(--pm-headings-color);
}
.pm-single-task-wrap .actions-wrap .label {
    margin-bottom: 0;
}

.pm-single-task-wrap .actions-wrap .label i {
    display: none;
}
.single-task-type.context  .process-1, .task-due-date-wrap.context .process-text-wrap{
    border: 1px solid #e5e4e4;
    border-radius: var(--pm-input-radius);
    height: 40px;
    padding: 7px 9px;
}

.task-due-date-wrap.context .process-1 .process-btn, .single-task-type.context  .process-1 .process-btn, .task-due-date-wrap.context .process-text-wrap .process-btn {
    display: none;
}

.popup-body .actions-wrap .task-type-wrap.context {
    margin-top: 0;
    padding-right: 0;
}

.popup-body .actions-wrap .task-type-wrap.context .single-task-type.context, .task-due-date-wrap .data-active>div {
    width: 100%;
    padding-right: 0;
}
.popup-body .pm-pro-time-tracker-wrapper .pm-pro-tr-task-info {
    border: none;
    padding-left: 0;
}

.popup-body .pm-pro-time-tracker-wrapper .process-results.time .process-btn {
    color: var(--pm-primary-button-background-regular);
}
.popup-body .assigne-users.context .process-text-wrap .process-btn {
    display: none;
}

.popup-body .assigne-users.context .process-text-wrap .process-results.user-images {
    margin-left: 0;
}
.popup-body .task-estimation-wrap.context, .popup-body .single-task-label.context, .popup-body .subtask-submit-wrap {
    display: none;
}
#wedevs-project-manager #pm-single-task-wrap .description-wrap .action-content {
    min-height: 92px;
    border-radius: var(--pm-input-radius);
}

#wedevs-project-manager #pm-single-task-wrap .description-wrap {
    width: 100%;
}
.popup-body .sub-task-content .header-wrap {
    display: flex;
    justify-content: space-between;
}

.popup-body .pm-pro-single-subtask-lists .sub-task-content .body {
    width: 100%;
}

.popup-body .pm-pro-single-subtask-lists {
    margin-top: 27px;
}

.popup-body .pm-pro-single-subtask-lists .subtask-form.subtask-nonsortable {
    margin-top: 15px;
}
.popup-body .pm-pro-single-subtask-lists .sub-task-content .title-meta .meta-item.subtask-date-wrap {
    background: none;
    color: var(--pm-headings-color);
}
.popup-body .pm-pro-single-subtask-lists .subtask-li {
    padding-bottom: 0px!important;
}
.actions-wrap .context .process-results.task-date .date-wrapper, .actions-wrap .context .process-results.task-date .date-wrapper .relative {
    background: transparent;
}
.add-new-subtask-form-field .action-icons.process-fields .process-content-1 {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 10px;
    padding-right: 12px;
}

.add-new-subtask-form-field .action-icons.process-fields .process-content-1 i {
    color: #848484;
    font-size: 20px;
}

.add-new-subtask-form-field .action-icons.process-fields .process-content-1 .recurrent-task {
    margin-left: 0;
}

.popup-body .pm-pro-single-subtask-lists .subtask-form.subtask-nonsortable .input-area, .popup-body .pm-pro-single-subtask-lists .subtask-form.subtask-nonsortable .input-area input {
    border-radius: var(--pm-input-radius);
}

.popup-body .pm-pro-single-subtask-lists .subtask-form.subtask-nonsortable .input-area input {
    height: 40px;
}
.popup-body .subtask-create-form .pm-button-wrap {
    text-align: right;
    width: 100%;
    margin-top: 10px;
}
.single-task-discuss-activity {
    background-color: var(--pm-content-alternate-background-color);
    margin-left: -25px;
    margin-right: -25px;
    padding: 25px;
}

.single-task-discuss-activity .discuss-wrap {
    margin-top: 0;
    padding-bottom: 13px!important;
}

#wedevs-project-manager #pm-single-task-wrap .pm-task-comment-wrap .comment-content {
    padding: 0;
    background: transparent;
    border: none;
    margin-top: 10px;
}

#wedevs-project-manager #pm-single-task-wrap .pm-task-comment-wrap .comment-content .comment-field-text.pm-light-font {
    border: 0px;
    border-radius: var(--pm-input-radius);
}

.single-task-discuss-activity .task-activities {
    padding-bottom: 30px;
}

.popup-body .pm-pro-time-log-wrapper {
    margin-top: -30px;
}
#wedevs-project-manager #pm-single-task-wrap .pm-task-comment-wrap .comment-field-content {
    padding-left: 0;
}
.pm-pro-subtask-task-edit-form .add-new-subtask-form-field {
    display: block;
}

.pm-pro-subtask-task-edit-form .add-new-subtask-form-field .subtask-users.item .user-images img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.add-new-subtask-form-field .action-icons.process-fields .process-content-1 .users {
    display: flex;
    gap: 10px;
}

.pm-pro-subtask-task-edit-form .add-new-subtask-form-field .action-icons.process-fields .process-content-1 {
    padding: 10px;
    background: #f5f5f5;
    border-bottom-left-radius: 3px;
    gap: 20px;
}
.add-new-subtask-form-field .action-icons.process-fields .process-content-1 .image {
    width: 20px;
}
.add-new-subtask-form-field .action-icons.process-fields .process-content-1 img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

#wedevs-project-manager .popup-mask .popup-container {
    height: 100vh;
    right: 0;
    position: absolute;
    top: 0;
    width: 700px;
    max-width: inherit;
}
#wedevs-project-manager .popup-mask .popup-container .popup-body{
    overflow-y: scroll;
    overflow-x: auto;
}
.task-modal-top-right-action {
    display: flex;
    gap: 15px;
    align-items: center;
    top: 4px;
    position: relative;
}

.task-modal-top-right-action .pm-single-task-actions {
    display: flex;
    gap: 15px;
}

.task-modal-top-right-action i {
    width: 20px;
    height: 25px;
    display: inline-block;
    cursor: pointer;
}
.task-modal-top-right-action i, .task-modal-top-right-action .icon-pm-more-options:before {
    color: var(--pm-secondary-button-text-regular);
}
.actions-wrap .context.assigne-users .process-text-wrap .helper-text {
    margin-left: 0;
}
.daterangepicker .calendar-table th, .daterangepicker .calendar-table td {
    padding: 0;
}

.daterangepicker td.active, .daterangepicker td.active:hover {
    background: var(--pm-primary-button-background-regular);
}
.pm .milestone .pm-content{
    background: none!important;
}

/*Single task list page*/
#wedevs-project-manager .single-list-content {
    background: var(--pm-content-background-color);
    padding: 30px!important;
    margin-bottom: 30px!important;
    border-radius: 10px;
    border: navajowhite;
}

#wedevs-project-manager .single-list-content .task-group .incomplete-task-ul.has-items .pm-todo-wrap {margin-left: -14px!important;margin-right: 0!important;}
#wedevs-project-manager .single-list-content .task-group .complete-task-ul .pm-todo-wrap{
    margin-left: 0;
}

#wedevs-project-manager .single-list-content .description, #wedevs-project-manager .single-list-content .more-task-wrap {
    margin-left: 0px;
}
.single-list-content-inner .task-group .incomplete-task-ul.has-items, .single-list-content-inner .task-group .complete-task-ul {
    padding-left: 0!important;
}
.single-list-back-wrapper {
    margin-bottom: 20px;
}

.single-list-back-wrapper a.list-back-btn, .pm-task-comment-wrap .pm-comment-form .comment-action-chunk .pm-button-cancel, .comment-action-chunk a.pm-button.pm-secondary {
    height: 38px;
    line-height: 1.7;
}

.single-list-back-wrapper a.list-back-btn span.icon-pm-left-arrow {
    margin-right: 10px;
    font-size: 10px;
}

.single-list-back-wrapper a.list-back-btn span.icon-pm-left-arrow::before {
    color: var(--pm-secondary-button-text-regular);
}
.pm-task-comment-wrap .comment-content {
    border: none;
    background: no-repeat;
    padding: 0;
}
.single-task-list-comments .pm-task-comment-wrap .comment-field-content .comment-field .comment-field-text {
    // border: none;
    border-radius: var(--pm-input-radius);
}

.single-task-list-comments .pm-task-comment-wrap .comment-field-content {
    margin-right: 0;
    justify-content: space-between;
    padding-left: 0px;
}

.single-task-list-comments .pm-task-comment-wrap .comment-field-content .comment-field {
    width: calc(100% - 40px);
}

.single-task-list-comments .discuss-text {
    font-size: 14px;
    color: #000;
    font-weight: bold;
    margin-bottom: 10px;
}
.single-task-list-comments a {
    color: var(--pm-headings-color);
}
.comment-action-chunk input.pm-primary {
    font-size: 14px!important;
    line-height: 1!important;
}

/*Discussion*/
.pm-discussion.pm-discussion-container, .pm-milestone.pm-milestone-container {
    background: transparent;
    border: none;
    padding: 0;
}
.pm-discussion.pm-discussion-container .discussion .pm-new-message-form, .pm-milestone.pm-milestone-container .milestone, .pm-milestone.pm-milestone-container .pm-milestone-details .pm-new-milestone-form  {
    background: #fff;
    border: none;
    border-radius: 10px;
    padding: 35px!important;
    margin-top: 20px!important;
}
.pm-discussion.pm-discussion-container .pm-new-message-form, .pm-milestone.pm-milestone-container .pm-milestone-form-wrap {
    margin: 0;
    box-shadow: none;
    border: none;
    padding: 0;
}

.pm-discussion.pm-discussion-container form.pm-form.pm-message-form, .pm-milestone.pm-milestone-container .pm-new-milestone-form {
    margin: 0;
}

.discussion .pm-message-form-wrap, .milestone .pm-milestone-form-wrap {
    padding: 0;
}
.pm-message-form .notify-users, .pm-message-form .notify-users {
    border: none!important;
    box-shadow: none!important;
    margin-bottom: 15px!important;
}

.pm .notify-users .pm-user-list {
    padding: 0!important;
}

.notify-users h2.pm-box-title {
    margin-bottom: 0!important;
    padding-left: 0!important;
    border: none;
    margin-top: 15px!important;
}

.pm-message-form .pm-attachment-area {
    border: none!important;
    margin-left: -1px!important;
}
.pm .mce-tinymce {
    border-radius: var(--pm-input-radius);
}

div.mce-toolbar-grp {
    border-top-left-radius: var(--pm-input-radius)!important;
    border-top-right-radius: var(--pm-input-radius)!important;
}

div.mce-statusbar {
    border-bottom-left-radius: var(--pm-input-radius);
    border-bottom-right-radius: var(--pm-input-radius);
}
ul.pm-user-list li {
    margin-bottom: 7px;
}

.pm .pm-message-page .pm-message-list {
    .pm-attachment-area-minimal {
        height: auto !important;
        .pm-upload-filelist {
            position: relative !important;
            top: 0px !important;
            margin-right: 10px !important;
        }
        
    }
    .notify-users {
        display: inline-block !important;
        .pm-multiselect-top.pm-multiselect-single-task {
            top: 40px !important;
            left: 0px !important;
        }
        .pm-multiselect-top.pm-multiselect-single-task:before {
            top: -8px !important;
            left: 10px !important;
            right: unset !important;
            border-color: transparent transparent white transparent !important;
        }
        .pm-multiselect-top.pm-multiselect-single-task:after {
            display: none !important;
        }
        
    }
}

.pm .pm-message-page .pm-message-list ul {
    border: none!important;
    background: transparent!important;
}

.pm .pm-message-page .pm-message-list li {
    border: none!important;
    padding: 20px!important;
    border-radius: 10px!important;
    background: #fff!important;
    margin-bottom: 15px!important;
}

.pm .pm-message-page .pm-message-list {
    margin: 0!important;
    border: none!important;
    box-shadow: none!important;
    background: transparent!important;
}

.pm .pm-message-page {
    background: transparent!important;
}

.pm .pm-message-page .pm-message-list li:hover {
    border-left: 0px!important;
    background: #fff!important;
}
.pm .pm-message-page .pm-message-list li .comment-count {
    background: none!important;
    padding-left: 0!important;
}

.pm .pm-message-page .pm-message-list li .pm-messge-link {
    margin-bottom: 0!important;
    margin-right: 0!important;
}

.pm .pm-message-page .pm-message-list li .pm-messge-link .pm-messege-wrapper {
    margin: 0;
}

.pm .pm-message-page .pm-message-list li .comment-count i, .pm .pm-message-page .pm-message-list li .comment-count a {
    color: #a0a0a0;
}

.pm .pm-message-page .pm-message-list li .comment-count i {
    position: relative;
    top: 3px;
}
.pm .pm-message-page .pm-message-list , li .pm-message-action i, .pm .pm-message-page .pm-message-list , li .pm-message-action span.dashicons {
    color: #a0a0a0;
}
.pm-message-form-wrap .submit {
    padding-bottom: 0;
}
.pm .pm-message-page .pm-message-list .pm-user-list li {
    padding: 1px!important;
    margin-bottom: 7px!important;
}
.pm .pm-message-page .pm-message-list .pm-box-title {
    color: var(--pm-headings-color)!important;
    background: none!important;
}
.pm-comment-area.pm-box-shadow {
    box-shadow: none;
    border: none;
    padding: 30px;
    border-radius: 10px;
}

.pm-comment-area.pm-box-shadow h3 {
    display: none;
}

.pm .pm-comment-form-wrap {
    padding: 0;
    border: none;
}

.pm-comment-form-wrap .pm-comment-form {
    padding: 0;
}

.pm-individual-discussion .pm-comment-form .message {
    background: transparent;
    padding: 0;
    margin-bottom: 20px!important;
}

.pm-comment-form .notify-users, .pm-message-form .notify-users {
    border: none!important;
    box-shadow: none!important;
}

.pm-comment-form .pm-attachment-area {
    border: none!important;
    margin-top: 0!important;
    margin-bottom: 0!important;
}

.pm-individual-discussion .pm-comment-form h2.pm-box-title {
    margin-top: 0!important;
}
.pm-comment-form .pm-attachment-area {
    margin-left: -5px;
}
.pm-single .pm-entry-detail {
    padding: 30px!important;
    border: none!important;
    border-radius: 10px!important;
    box-shadow: none!important;
}

.pm-single {
    border: none!important;
    box-shadow: none!important;
    background: transparent!important;
}
#pm-signle-message h3.pm-box-title {
    padding: 0;
    border: none;
    font-size: 18px;
    color: #000;
}

#pm-signle-message .pm-small-title {
    margin-top: 4px!important;
}
.pm-individual-discussion form {
    margin-bottom: 0;
}

.pm-individual-discussion .submit {
    padding-bottom: 0!important;
}
#pm-signle-message .pm-entry-detail div p:last-child {
    margin-bottom: 0!important;
}
.comment-lists-wrapper ul.pm-comment-wrap li.pm-comment, .pm-milestone-data {
    border: none;
    padding: 30px!important;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
}

.comment-lists-wrapper ul.pm-comment-wrap {
    border: none;
}

.comment-lists-wrapper ul.pm-comment-wrap li:last-child {
    margin-bottom: 0px;
}
.pm .milestone .pm-content, .pm-milestone .pm-milestone-form{
    max-width: inherit!important;
    width: 100%;
}
.milestone .pm-content h3 {
    text-align: left;
}

.milestone .pm-content .pm-new-milestone-form .item, .pm-milestone-form .item {
    margin-bottom: 15px;
}
.pm-milestone-data:not(:first-child) {
    margin-top: 30px;
}

.pm-milestone-data h2.group-title {
    margin-bottom: 20px!important;
}
.pm-milestone-data .pm-milestone h3.milestone-head {
    margin: 0!important;
}

.pm-milestone-data .pm-milestone h3.milestone-head span.time-left {
    font-size: 12px;
    color: #a0a0a0;
    font-weight: normal;
}
.pm-milestone-data .pm-milestone h3.milestone-head ul.pm-links.pm-right {
    display: flex;
    align-items: center;
}

.pm-milestone-data .pm-milestone h3.milestone-head ul.pm-links.pm-right a {
    display: inline-block;
    width: 25px;
    height: 25px;
    cursor: pointer;
    color: #a0a0a0;
}
// .pm-milestone-edit-form {
//     margin-top: 30px;
// }

.pm-milestone-edit-form form.pm-milestone-form {
    margin-bottom: 0;
}

.pm-milestone-edit-form .submit {
    padding-bottom: 0;
}

/*Activity Module*/
.pm-activities.pm-activities-container {
    background: transparent;
    border: none;
    padding: 0;
}
.pm .pm-activity-list li.pm-row .pm-activity-date, .pm .pm-activity-list li.pm-row .pm-activity-body, #pm-progress-wrap .pm-activity-heads {
    box-shadow: none!important;
    border: none!important;
}

.pm .pm-activity-list li.pm-row .pm-activity-body ul li {
    overflow: hidden;
    padding: 0!important;
    background: transparent!important;
    border: none;
    margin-bottom: 8px!important;
}

.pm .pm-activity-list li.pm-row .pm-activity-body ul li .date {
    background: none!important;
    padding: 0!important;
}

.pm .pm-activity-list li.pm-row .pm-activity-body ul li .date i {
    font-size: 13px;
    font-style: normal;
}

.pm .pm-activity-list li.pm-row .pm-activity-body ul li:last-child {
    margin-bottom: 0px;
}

// .pm .pm-activity-list li.pm-row {
//     background: #fff;
//     padding: 30px!important;
//     border-radius: 10px;
// }
.pm .pm-activity-list li.pm-row .pm-activity-date span {
    font-size: 16px;
}
.pm .pm-activity-list li.pm-row .pm-activity-date, #wedevs-project-manager #pm-progress-wrap .pm-activity-heads {
    width: 100px!important;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
}

.pm .pm-activity-list li.pm-row .pm-activity-body .pm-col-8 {
    width: 45%;
}
.pm .pm-front-end .button{
    text-shadow: none!important;
}


/*My Tasks*/
#wedevs-project-manager .pm-my-tasks .pm-project-header.pm-project-head {
    border: none!important;
    background: transparent;
    box-shadow: none!important;
    position: relative;
    bottom: -9px;
}

#wedevs-project-manager .pm-my-tasks .pm-project-header.pm-project-head .pm-row.pm-no-padding.pm-border-bottom, #wedevs-project-manager .pm-my-tasks .pm-project-header.pm-project-head .pm-user-select {
    display: none!important;
}

#wedevs-project-manager .pm-my-tasks .pm-project-header.pm-project-head .pm-my-task-menu a {
    background-image: none!important;
    padding-left: 0!important;
    height: auto!important;
    min-height: auto!important;
}
.button-secondary .bb-icon-plus {
    font-size: 12px;
}

.pm-my-tasks h1 {
    margin-right: 15px!important;
}
.mytask-current .assigned-users-content img, .mytask-current .assigned-users-content a.image-anchor {
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.mytask-current .assigned-users-content a.image-anchor {
    margin-right: 3px;
    display: flex;
}

.mytask-current .assigned-users-content {
    width: 80px;
}
.my-tasks-assignee {
    display: flex;
    align-items: center;
    font-size: 12px;
}

.mytask-current a {
    font-size: 14px;
    color: #848484;
}
.my-task-filter-wrap .tasks-wrap {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
}

.my-task-filter-wrap .tasks-wrap table {
    margin-bottom: 0px;
    border: none;
}

.my-task-filter-wrap .tasks-wrap table tr td:first-child {
    padding-left: 0px;
    padding-right: 0px;
    width: 30px;
}
.my-task-filter-wrap .tasks-wrap table tr td:first-child a{
    color: var(--pm-headings-color);
}

.my-task-filter-wrap .tasks-wrap table tr td:last-child {
    padding-right: 0;
}

.my-task-filter-wrap .tasks-wrap table td {
    border-color: #f0f0f0;
}

.my-task-filter-wrap .tasks-wrap table tr:first-child td {
    padding-top: 0;
}
.my-task-filter-wrap .tasks-wrap table tr:last-child td{
    padding-bottom: 0px;
}
.my-task-filter-with-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.my-task-filter-with-header form.form {
    margin-bottom: 0;
}

.my-task-filter-with-header .pm-project-header.pm-project-head {
    margin-bottom: 0;
}

.my-task-filter-with-header {
    margin-bottom: 15px;
}

.my-task-filter-with-header .multiselect__tags {
    height: 43px;
    border: none;
    border-radius: var(--pm-input-radius)!important;
    padding: 9px!important;
}

.my-task-filter-with-header .multiselect__tags span.multiselect__single {
    font-size: 12px;
}

.my-task-filter-with-header input, .my-task-filter-with-header select {
    height: 42px!important;
    border: none!important;
}

input.multiselect__input {
    margin-top: -5px;
}

.my-task-filter-wrap .form .project-dropdown-wrap .multiselect__tags input.multiselect__input {
    margin-top: -10px;
    margin-left: -10px;
}
.pm-overview-wrap .pm-mytask-overview-page .date-range-picker{
    width: auto;
}
.pm-overview-wrap .pm-mytask-overview-page .date-range-picker .filter-form-wrap .title {
    border: none;
    display: flex;
    align-items: center;
    border-radius: var(--pm-input-radius);
}

/*Overview Design*/
.project-overview.pm-project-overview-container {
    padding: 0;
    border: 0;
}

#wedevs-project-manager .project-overview .overview-menu ul {
    margin: 0px!important;
    gap: 10px;
    flex-wrap: nowrap;
}

.pm .project-overview .overview-menu ul li {
    padding: 0!important;
    background: transparent;
}

.pm .project-overview .overview-menu ul .clearfix {
    display: none;
}

.pm .project-overview .overview-menu ul li a {
    border: none!important;
    background: #fff;
    border-radius: 10px;
}
.pm .project-overview .overview-menu ul .icon {
    background: transparent!important;
    display: flex!important;
    align-items: center;
}

.pm .project-overview .overview-menu ul .icon i {
    color: var(--pm-headings-color);
    font-size: 30px;
}

.pm .project-overview .overview-menu ul .icon {
    background-image: none!important;
}
.pm .project-overview .overview-menu ul li .count span{
    color: var(--pm-primary-color)!important;
}
.pm .project-overview .pm-chart, .pm .project-overview .pm-right-part {
    padding: 30px!important;
    border-radius: 10px!important;
    border: none!important;
    box-shadow: none!important;
}
.pm .project-overview .pm-right-part{
    border-radius: 10px;
}
.project-overview .users-header {
    border-top-left-radius: 10px!important;
    border-top-right-radius: 10px!important;
    padding-left: 0px!important;
}
.pm .project-overview .pm-right-part .user_list li {
    padding-left: 0!important;
    padding-right: 0!important;
}

#wedevs-project-manager .pm-header, .pm-page-wrapper .pm-overview-panel .pm-panel-header, #wedevs-project-manager .pm-header-menu-wrap, #wedevs-project-manager .pm-common-header, #wedevs-project-manager .my-task-filter-with-header {
    background: #fff!important;
    padding-left: 20px!important;
    padding-right: 20px!important;
    padding-top: 0px!important;

}
#wedevs-project-manager .pm-header, #wedevs-project-manager .pm-common-header{
    border-radius: var(--pm-block-radius) var(--pm-block-radius) 0 0 !important;
    padding-top: 20px!important;
}
#wedevs-project-manager .pm-common-header{
    padding-top: 26px!important;
    padding-bottom: 6px;
}
#wedevs-project-manager .pm-wrap.pm.my-tasks.pm-my-tasks {
    margin-top: 0;
}

.pm-page-wrapper .pm-header .pm-header-row {
    margin-bottom: 0px!important;
}
.pm-page-wrapper .pm-overview-panel .pm-panel-header, #wedevs-project-manager .pm-header-menu-wrap, #wedevs-project-manager .my-task-filter-with-header {
    border-radius: 0 0 var(--pm-block-radius) var(--pm-block-radius) !important;
}
.pm-page-wrapper .pm-header .pm-header-right form.pm-search-form {
    margin-bottom: 5px!important;
}
.pm-page-wrapper .pm-header .pm-header-left h2, .pm-common-header h1{
    font-size: 20px;
    font-weight: 600;
    margin: 0 15px 0 0;
    padding: 0;
}
.pm-common-header {
    display: flex;
    align-items: center;
}
.pm-common-header .button-secondary {
    height: 39px;
    padding: 6px 16px!important;
    display: inline-block;
    margin: 0!important;
    position: relative;
    top: 1px;
}

.pm-page-wrapper .pm-view-style-container .pm-view-style-group li a {
    padding-right: 0!important;
}
.pm-page-wrapper .pm-filter-selection select {
    background: #ECECEC;
    border-color: #ECECEC;
}
.pm-tab-item .count{
    display: none;
}
.pm-page-wrapper .pm-overview-panel .pm-panel-header .pm-grid-row{
    align-items: flex-end;
}
.pm-page-wrapper .pm-project-search input.pm-search {
    border-radius: var(--pm-input-radius)!important;
}
.pm-header-top-menu ul li a {
    display: inline-block;
    padding: 8px 15px;
    border-radius: var(--pm-button-radius);
    background: transparent;
    color: var(--pm-body-text-color);
}
.project-header-panel-main-menu {
    border-bottom: 1px solid var(--pm-content-border-color);
    margin-bottom: 25px;
    padding: 10px 0;
}
.pm-header-top-menu ul li a.router-link-exact-active {
    background: var(--pm-secondary-button-background-regular);
    color: var(--pm-headings-color);
}
#wedevs-project-manager .pm-header-menu-wrap{
    margin-top: 0px;
    padding-top: 15px!important;
}
.pm .pm-activity-list li.pm-row .pm-activity-body span time i {
    font-size: 13px;
    font-style: normal;
}
span.activity-project-label, span.acitivity-action-type {
    background: #fff;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 4px;
}

span.acitivity-action-type{
    background: var(--pm-secondary-button-background-regular) !important;
}
.pm .pm-activity-list li.pm-row {
    margin-bottom: 0px!important;
    padding-bottom: 40px!important;
    position: relative;
    z-index: 1;
}
.pm .pm-activity-list li:not(:last-child).pm-row::after {
    position: absolute;
    content: "";
    left: 47px;
    top: 0;
    height: 100%;
    bottom: 0;
    width: 3px;
    background: #ddd;
    z-index: -1;
}
.pm .pm-activity-list li.pm-row .pm-activity-date span, #wedevs-project-manager #pm-progress-wrap .pm-activity-heads span {
    font-size: 16px!important;
    font-weight: 500!important;
    padding: 5px;
    text-align: center;
    display: inline-block;
    color: #000;
}

.single-task-list-comments {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    width: 60%;
}
.pm-task-comment-wrap .comment-field-content .comment-field-avatar{
    align-self: center;
}
form.pm-comment-form-vue.pm-comment-form .message {
    background: transparent;
    padding: 0;
}

/*Milestone dropdown*/
.milestone-more-menu .more-menu-ul-wrap {
    border: 1px solid #DDDDDD;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0px 2px 40px 0px rgba(214, 214, 214, 0.6);
    padding: 7px 0;
}

.milestone-more-menu .more-menu-ul-wrap ul li a {
    display: inline-block;
    width: 100%;
    padding: 0 30px 0 12px;
    color: #7b7d7e;
    font-weight: 400;
    font-size: 12px;
}
.milestone-detail-top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.pm-milestone-data {
    border-left: 10px solid #FF9696;
}

.pm-milestone-data .group-title {
    color: #FF9696;
    display: block;
    margin-bottom: 15px!important;
    margin-top: 0px!important;
}
.pm-milestone-list .pm-milestone:not(:last-child) {
    margin-bottom: 35px;
}
.pm-upcomming-milestone.pm-milestone-data {
    border-left-color: #99D1D7
}

.pm-complete-milestone.pm-milestone-data {
    border-left-color: #97DCBE;
}
.pm-complete-milestone.pm-milestone-data .group-title{
    color: #97DCBE;
}
.pm-upcomming-milestone.pm-milestone-data .group-title{
    color: #99D1D7;
}
.pm-milestone-form-wrap form.pm-milestone-form {
    margin-bottom: 0;
}

.pm-row.pm-milestone-details {
    margin-bottom: 20px;
}
.task-group .pm-todo-wrap .todo-content .task-action-wrap .task-activity.assigned-users-content a:not(:first-child) {
    margin-left: -8px;
}

/*Task List*/
.pm-task-form .input-area .input-action-wrap .task-create-form .task-submit-wrap.process-content-2 {
    display: none;
}

.pm-task-form .input-area .input-action-wrap .task-create-form .action-icons.process-fields {
    background: transparent!important;
}

.pm-task-form .input-area .input-action-wrap .task-create-form .fields {
    display: flex;
    justify-content: space-between;
}
.task-group .more-task-wrap {
    margin-bottom: 0!important;
}

.task-group .more-task-wrap .group-action-btn {
    margin-bottom: 20px;
    margin-top: 10px;
}
.pm-task-form .input-area .input-action-wrap .task-create-form .fields .process-fields .process-field {
    margin-right: 0;
    margin-left: 15px;
}
#wedevs-project-manager .single-list-content .title-wrp {
    margin-right: 0;
    margin-left: 0;
}

.single-list-content-inner .list-task-form {
    margin-left: 0px!important;
    margin-right: 52px!important;
}
.popup-body .subtask-create-form .pm-button-wrap {
    display: none!important;
}

// .fc-toolbar.fc-header-toolbar .fc-left {
//     display: flex;
// }
.fc-toolbar.fc-header-toolbar {
    display: flex;
    align-items: center;
}

.fc-toolbar.fc-header-toolbar .fc-clear {
    display: none;
}

.fc-toolbar.fc-header-toolbar  .fc-center {
    order: 1;
    width: 200px;
}

.fc-toolbar.fc-header-toolbar .fc-left {
    order: 2;
    width: calc(100% - 500px);
}

.fc-toolbar.fc-header-toolbar .fc-right {
    order: 3;
    float: none;
    text-align: right;
    width: 300px;
    display: flex;
    justify-content: end;
}
.buddypress .buddypress-wrap button.fc-button {
    height: 34px;
    box-shadow: none!important;
    margin-left: 0!important;
}

.fc-toolbar.fc-header-toolbar .fc-right .fc-button-group {
    display: flex;
    gap: 5px;
}

.fc-toolbar.fc-header-toolbar .fc-left .fc-button-group .fc-button {
    background: transparent!important;
    border: none!important;
    padding: 8px 8px!important;
}

.fc-unthemed .fc-row, .fc-unthemed tbody, .fc-unthemed td, .fc-unthemed th, .fc-unthemed thead {
    border-color: transparent!important;
}


.fc-row.fc-widget-header table {
    margin-bottom: 0;
    border-bottom: 1px solid #ddd!important;
}

.fc-row.fc-widget-header table th {
    padding-bottom: 10px!important;
    border: none!important;
}

.fc-row.fc-week.fc-widget-content .fc-content-skeleton {
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 25px;
}
.pm-calendar a {
    padding: 5px;
    border: none!important;
    border-radius: 6px;
}

.pm-calendar a img {
    border-radius: 50%;
}

.fc-event .fc-content span.fc-title {
    margin-left: 5px;
}
#wedevs-project-manager .pm-my-tasks .pm-mycalender {
    box-shadow: none;
    border: none;
}

#wedevs-project-manager .pm-my-tasks .pm-mycalender h3.pm-box-title {
    display: none;
}

#wedevs-project-manager .pm-my-tasks .pm-mycalender .pm-calender-content {
    padding: 30px;
}

#wedevs-project-manager .pm-my-tasks .pm-mycalender .pm-col-12 {
    border-radius: 10px!important;
}
#wedevs-project-manager .pm-my-tasks .pm-mycalender .pm-calender-content div#icon-themes {
    display: none;
}
#wedevs-project-manager .pm-my-tasks #pm-mytask-page-content .pm-mytask-overview-page .pm-mytask-chart-statistics, #wedevs-project-manager .pm-my-tasks #pm-mytask-page-content .pm-mytask-overview-page .pm-mytask-chart-overview {
    box-shadow: none!important;
    border: none!important;
    border-radius: 10px;
}

#wedevs-project-manager .pm-my-tasks #pm-mytask-page-content .pm-mytask-overview-page h3.pm-box-title {
    border-bottom: none;
    margin-bottom: 0;
    padding: 30px 30px 10px;
}

#wedevs-project-manager .pm-my-tasks #pm-mytask-page-content .pm-mytask-overview-page .pm-mytask-chart-statistics canvas {
    padding: 10px 30px 30px;
}

#wedevs-project-manager .pm-my-tasks #pm-mytask-page-content .pm-mytask-overview-page .pm-mytask-chart-overview #cart-at-glance {
    margin-top: 20px;
}

#wedevs-project-manager .pm-my-tasks #pm-mytask-page-content .pm-mytask-overview-page .pm-mytask-chart-overview ul li {
    margin-left: 30px;
    margin-right: 30px;
}

#wedevs-project-manager .pm-my-tasks #pm-mytask-page-content .pm-mytask-overview-page .pm-mytask-chart-overview ul li .task-count {
    margin-right: 0;
}

#wedevs-project-manager .pm-my-tasks #pm-mytask-page-content .pm-mytask-overview-page .pm-mytask-chart-overview {
    padding-bottom: 30px;
}
.pm-page-wrapper .pm-overview-panel .pm-panel-header .pm-tab-item.pm-item-favourite {
    display: none;
}
.pm-projects-row .pm-project-column{
    flex-basis: 25%!important;
    max-width: 25%!important;
}
.pm-individual-discussion .single-list-back-wrapper {
    display: flex;
    justify-content: space-between;
}
#pm-signle-message .pm-discussion.pm-discussion-container .pm-new-message-form {
    margin-bottom: 20px!important;
    margin-top: 0!important;
}
.pm #pm-milestone-page .pm-milestone-details {
    margin-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

.pm #pm-milestone-page .pm-milestone-details .pm-new-milestone-form {
    margin-bottom: 30px;
}
.pm .pm-message-page .pm-message-list .more-menu-ul-wrap li {
    padding: 0!important;
    margin: 0!important;
}

.more-menu-ul-wrap {
    text-align: left;
    min-width: 150px;
}
.discuss-more-menu{
    text-align: right;
}
.discuss-list-content {
    display: flex;
    justify-content: space-between;
}
.pm .pm-comment-wrap .discuss-more-menu li {
    list-style: none!important;
}
.pm-comment-wrap li.pm-comment .pm-comment-container .pm-comment-meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.single-list-back-wrapper a.list-back-btn:hover .icon-pm-left-arrow::before {
    color: #fff!important;
}
.pm-complete-milestone span.group-title i {
    width: 28px;
    height: 28px;
    background: #97DCBE;
    border-radius: 50%;
    color: #848484;
    padding: 2px;
    font-size: 14px;
    margin-right: 10px;
    display: inline-block;
}
.pm-complete-milestone span.group-title i::before {
    margin-top: 5px;
    margin-left: 5px;
}
.pm .pm-front-end .project-overview .pm-col-10.pm-sm-col-12 .overview-menu{
    margin-bottom: 30px!important;
}
.pm .pm-front-end .project-overview .pm-col-10.pm-sm-col-12 .overview-menu .message{
    margin-bottom: 0!important;
}
.project-overview.pm-project-overview-container{
    background: transparent;
}
.pm-milestone-data .group-title .bb-icon-flag {
    color: var(--pm-headings-color);
    margin-right: 10px;
}
.pm-kanboard .kanboard-menu-wrap{
    display: none!important;
}

/*Kanban board customizations*/
.kbc-action-icon-wrap i {
    font-size: 16px;
}

.kbc-section-header-wrap .kbc-section-action.kbc-non-sortable {
    padding-right: 0;
}

.kbc-action-icon-wrap a.pm-pro-kanboard-action-hrf.pm-pro-kanboard-del-btn {
    padding-right: 0;
}

.kbc-kanboard .kbc-table-wrap .kbc-th-wrap .kbc-th .kbc-section-background .kbc-tasks-add-task span a {
    font-size: 12px!important;
    font-weight: 500!important;
}

.kbc-kanboard .kbc-table-wrap .kbc-th-wrap .kbc-th .kbc-section-background .kbc-tasks-add-task span a i {
    font-size: 15px;
}

.kbc-kanboard .kbc-table-wrap .kbc-th-wrap .kbc-th .kbc-section-background .kbc-section-header-wrap .kbc-section-header .kbc-section-title span {
    font-weight: 500!important;
}

.kbc-kanboard .kbc-table-wrap .kbc-th-wrap .kbc-th .kbc-section-background .kbc-tasks-wrap .kbc-kanboard-sortable-wrap .kbc-td-contents .kbc-content-inside .kbc-after-task-title-wrap {
    margin-top: 15px;
}

.kbc-kanboard .kbc-table-wrap .kbc-th-wrap .kbc-th .kbc-td-contents .kbc-content-inside .kbc-after-task-title-wrap .cpm-assigned-user img {
    width: 19px;
    height: 19px;
}

.kbc-task-user-wrap .cpm-assigned-user:not(:first-child) {
    margin-left: -7px;
}

.kbc-kanboard .kbc-table-wrap .kbc-th-wrap .kbc-th .kbc-section-background .kbc-tasks-wrap .kbc-kanboard-sortable-wrap .kbc-td-contents .kbc-content-inside .kbc-after-task-title-wrap .kbc-task-date-wrap span {
    font-size: 12px;
    margin-left: 5px;
}
.kbc-th .kbc-section-header .kbc-sections-add-section i {
    font-size: 16px;
}

.kbc-th .kbc-section-header .kbc-sections-add-section a {
    font-weight: 500!important;
    font-size: 16px;
}
.kbc-kanboard .kbc-table-wrap .kbc-th-wrap .kbc-th .kbc-kanboard-sortable-wrap {
    min-height: 20px;
    height: auto;
}
.pm-files.pm-files-container-pro {
    padding: 0;
}
#buddypress input[type=submit]{
    line-height: 37px;
}
.pm-form.pm-project-form input#add_project {
    font-size: 15px;
    font-weight: 500!important;
}

.pm-ui-dialog .pm-project-form .submit {
    text-align: right;
}
.ui-dialog .ui-dialog-titlebar-close {
    box-shadow: none;
    border: none;
}
.pm-ui-dialog .pm-project-form .pm-form-item, .pm-ui-dialog .pm-form .item{
    margin-right: 0px;
}
.pm-project-form .pm-checkbox input[type="checkbox"]:checked + label:after {
    top: 6px;
}
.pm-task-list-wrap .list-content-body .content .list-action-btn-wrap .new-list-btn .list-form form .pm-make-privacy.pm-make-task-privacy input[type="checkbox"]:checked + label:after{
    top: 0;
}
.kbc-kanboard .kbc-table-wrap .kbc-th-wrap .kbc-th .kbc-td-contents .kbc-content-inside .kbc-after-task-title-wrap .cpm-assigned-user img {
    background: none!important;
}
.kbc-after-task-title-wrap i {
    color: var(--pm-alternate-text-color);
}

.kbc-task-date-wrap i {
    font-size: 18px;
    margin-left: 10px;
}
.pm-files.pm-files-container-pro {
    background: transparent;
}

/*Search Box Result*/
.pm-search-project .result-box ul.item-select {
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center!important;
}

.pm-search-project .result-box ul.item-select li {
    margin: 0;
    border: none;
    background: var(--pm-secondary-button-background-regular) !important;
    padding: 3px 5px!important;
}

.pm-search-project .result-box ul.item-select li label {
    font-weight: normal;
    font-size: 12px;
}

.pm-search-project .result-box ul.item-select li.selected {
    background: var(--pm-secondary-button-background-hover) !important;
    border: none;
}

.pm-search-project .result-box ul.item-select li.selected label {
    color: #fff;
}

/*Search header*/
#wedevs-project-manager.pm-page-wrapper form.pm-filter-selection select {
    padding: 10px 40px 10px 23px!important;
}

#wedevs-project-manager.pm-page-wrapper form.pm-filter-selection {
    position: relative;
}

#wedevs-project-manager.pm-page-wrapper form.pm-filter-selection i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

#wedevs-project-manager.pm-page-wrapper .pm-view-style-container .pm-view-style-group {
    margin-left: 32px!important;
}
.pm-page-wrapper .pm-view-style-container .pm-view-style-group li a i {
    margin-right: 0!important;
}

.pm-page-wrapper .pm-view-style-container .pm-view-style-group li a {
    padding-right: 10px!important;
    border-radius: 4px;
    transition: .3s;
}
.add-new-project-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.task-new-list-btn-filter {
    display: flex;
    gap: 10px;
}

.task-new-list-btn-filter a.task-filter.list-action-group.task-filter-btn, .pm-task-list-wrap .list-content-body .content .list-action-btn-wrap .active-task-filter {
    height: 37px!important;
}

.pm-task-list-wrap .list-content-body .list-search-menu {
    position: absolute;
    top: 40px;
    min-width: 350px;
    box-shadow: 0px 2px 40px 0px rgba(214, 214, 214, 0.6);
    border-radius: 4px;
    padding: 25px;
    border: none;
}

.pm-task-list-wrap .list-content-body .list-search-menu form{
    margin: 0;
}

.list-content-wrap {
    position: relative;
}
.pm-task-list-wrap .list-content-body .list-search-menu .filter-title {
    align-items: center;
    justify-content: space-between;
    height: auto;
    margin-bottom: 15px;
}

.pm-task-list-wrap .list-content-body .list-search-menu .filter-title h2 {
    margin-bottom: 0px!important;
}
.pm-task-list-wrap .list-content-body .content .list-items .list-content .progress-bar{
    min-width: 120px;
}
.notify-users{
    position: relative;
}
.pm-discussion-container .pm-message-form-wrap .pm-make-privacy.pm-checkbox {
    display: none;
}
.discuss-actions, .discuss-notifier{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.discuss-actions{
    position: relative;
}
.discuss-notifier .notify-users{
    margin-bottom: 0px!important;
}
.pm-attachment-area-minimal .pm-upload-filelist {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 99;
    background: #fff;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0px 2px 40px 0px rgba(214, 214, 214, 0.6);
    top: 65px;
}
.pm-attachment-area-minimal div#pm-upload-container {
    position: inherit!important;
}

.pm-discussion.pm-discussion-container .discussion {
    overflow: unset;
}
.pm-attachment-area-minimal i {
    color: var(--pm-alternate-text-color);
}

.pm .pm-front-end .pm-discussion-container .pm-new-message-form .pm-message-form .item {
    margin-right: 0;
}
.discuss-actions a.message-cancel, .milestone-submission-section a.milestone-cancel.button-secondary {
    background: transparent!important;
    border-color: #fff!important;
    color: #a0a0a0!important;
}
.discuss-actions a.message-cancel:focus, .milestone-submission-section a.milestone-cancel.button-secondary:focus{
    outline: 0;
    box-shadow: none;
}
.pm-individual-discussion ul.pm-user-list label {
    font-size: 15px;
}
.pm-milestone-items-details .pm-milestone-discussion {
    background: #f3f4f5;
    padding: 25px;
    border-radius: 4px;
    margin-top: 20px;
}

.pm-milestone-items-details .pm-milestone-discussion h3 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    line-height: 1;
}

.pm-milestone-items-details .pm-milestone-discussion ul li div {
    margin: 0;
}
.milestone-discuss-member {
    display: flex;
    align-items: center;
}

.milestone-discuss-member a {
    margin-right: 10px;
    display: inline-block;
}

.pm-milestone-items-details .pm-milestone-discussion ul li {
    margin: 15px 0;
    color: var(--pm-headings-color);
}
.pm-milestone-items-details .pm-milestone-discussion ul li:first-child{
    margin-top: 0px;
}
.pm-milestone-items-details .pm-milestone-discussion ul li:last-child{
    margin-bottom: 0px;
}
.pm-milestone-items-details .pm-milestone-discussion ul li a{
    color: var(--pm-headings-color);
    font-weight: 500;
}
.pm-milestone-items-details .pm-milestone-discussion ul li>div {
    display: flex;
    align-items: center;
}
.milestone-submission-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.milestone-submission-section .pm-make-privacy {
    margin-bottom: 0;
}

.milestone-submission-section .submit {
    padding: 0;
}
.pm-doc-modal-action {
    padding: 0 25px;
}
.pm-doc-modal-action.pm-doc-modal-doc-margin{
    padding: 0 18px;
}

.pm-files.pm-files-container-pro .pm-pro-file-container .pm-doc-modal .modal-wrapper .modal-container .pm-doc-content .close-single-file-modal a, .modal-wrapper .modal-container .pm-doc-modal-doc-margin .close-single-file-modal {
    padding-left: 0;
    margin-left: -16px;
}

.file-dropdown{
    position: absolute;
    z-index: 1;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
    float: right;
    right: 20px;
    background: #fff;
}
.file-dropdown li{
    padding: 5px 20px 5px 20px !important;
    cursor: pointer;
}

.file-dropdown li a{
    color: var(--pm-body-text-color);
}
.pm .pm-activity-list li.pm-row .pm-activity-body {
    padding-top: 100px;
}

#wedevs-project-manager .pm-new-doc-comment-form .pm-multiselect-top {
    left: 0;
}

#wedevs-project-manager .pm-new-doc-comment-form .pm-multiselect-top::before {
    left: 10px;
    right: auto;
}

#wedevs-project-manager .pm-new-doc-comment-form .pm-multiselect-top::after {
    left: 10px;
    right: auto;
}
.pm-created-doc .pm-modal-conetnt span.pm-right {
    display: none;
}
.pm-doc-modal-doc-margin{
    margin-top: 20px;
}
.pm-doc-modal-action span.bb-icon-ellipsis-h {
    cursor: pointer;
}
#wedevs-project-manager #pm-progress-wrap ul.pm-activity ul{
    margin-left: 47px;
}
#wedevs-project-manager #pm-progress-wrap ul.pm-activity ul li {
    padding-left: 80px;
}

#wedevs-project-manager #pm-progress-wrap .pm-progress-label {
    border: none;
    background: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;
    color: #000;
}

#wedevs-project-manager #pm-progress-wrap span.pm-progress-label {
    background: var(--pm-secondary-button-background-regular) !important;
}

#wedevs-project-manager #pm-progress-wrap ul.pm-activity ul li span.date {
    font-style: normal;
}
div#pm-progress-wrap {
    margin-top: 35px;
}
.pm-wrap.pm-front-end, .pm-wrap.pm.pm-kanboard {
    margin-top: 0!important;
}
#pm-calender-page div#pm-calendar {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
}
.fc-today-button.fc-button.fc-state-default {
    text-transform: capitalize;
    color: var(--pm-secondary-button-text-regular) !important;
}
.fc-event .fc-content {
    display: flex;
    align-items: center;
}

.pm-calendar a {
    margin: 5px;
    padding: 8px 10px;
}
.fc-ltr .fc-basic-view .fc-day-top .fc-day-number {
    font-weight: 500;
}
.fc-row.fc-week.fc-widget-content .fc-content-skeleton{
    min-height: 180px;
}
.pm-calender-page .calendar-color-plate {
    background: #fff;
    margin-bottom: 30px;
    border-radius: 0 0 var(--pm-block-radius) var(--pm-block-radius) !important;
    padding-left: 20px;
    padding-right: 20px;
}

.pm-calender-page .calendar-color-plate p {
    margin-right: 15px;
}

/*My task list*/
.my-task-filter-wrap table thead td {
    font-weight: 600;
    padding: 0 10px 10px!important;
}

.mytask-current .current-task-table tbody td {
    padding: 10px!important;
    border-bottom: 1px solid #f0f0f0;
}

.mytask-current .current-task-table tbody td .task-activity.assigned-users-content {
    display: flex;
}

.mytask-current .current-task-table tbody td .task-activity.assigned-users-content a:not(:first-child) {
    margin-left: -5px;
}

.mytask-current .current-task-table tbody tr:last-child td {
    border-bottom: none;
}
#wedevs-project-manager .my-task-filter-wrap .pm-checkbox label::before {
    top: 0;
}
.comment-action-arrow .pm-popup-menu.comment-action ul li a span {
    margin: 0!important;
}

.comment-action-arrow .pm-popup-menu.comment-action ul li {
    padding: 0!important;
}

.comment-action-arrow .pm-popup-menu.comment-action ul li a {
    display: block;
    padding: 6px 10px;
    line-height: 1;
}

.comment-action-arrow .pm-popup-menu.comment-action ul {
    padding: 8px 0!important;
}
.list-search-menu .multiselect__select:before {
    color: #555555;
    font-size: 21px!important;
    right: 0;
}
#wedevs-project-manager .popup-mask.pm-subtask-to-task-wrap .popup-container {
    position: relative;
    right: auto;
}
.project-edit-form .pm-form .item {
    margin-right: 0!important;
}
.pm-header-title-content {
    position: relative;
}

.pm-header-title-content .pm-edit-project-form {
    position: absolute;
    top: 43px;
}
.kbc-action-wrap ul.pm-dorpdown-menu-ul li a {
    padding-left: 10px;
    padding-right: 10px;
}

.kbc-action-wrap ul.pm-dorpdown-menu-ul li a i {
    width: 30px!important;
    display: inline-block;
}
.kbc-action-wrap ul.pm-dorpdown-menu-ul li a i::before {
    margin-left: 0;
}
.kbc-section-footer form {
    padding: 10px;
    margin-bottom: 0;
}

.kbc-section-footer form .button-group-wrap {
    padding-bottom: 0!important;
}

.kbc-section-footer form .button-group-wrap input.button-primary {
    height: 38px;
}